
$text-bg: -webkit-linear-gradient(top, #000 0%, #000 40%, #222 51%, #333 100%);

@mixin gradientText($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

$accent: lighten(#822015, 5%);

.HUD {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;

  .bottom-ui {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 117px;
    border-top: 3px solid rgba(#fff, 0.2);
    image-rendering: pixelated;
    color: #fff;
    padding: 10px 0;
    box-sizing: border-box;

    .hud-content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .stat {
        text-transform: uppercase;
        box-sizing: border-box;
        font-size: 28px;
        line-height: 15px;
        padding: 2px;
        border: 5px solid rgba(#000, 0.4);
        border-bottom-color: rgba(#fff, 0.25);
        border-right-color: rgba(#fff, 0.25);
        margin: 0 5px;
        width: 150px;
        height: 100%;
        text-align: center;
        text-shadow: 2px 2px 0px #000;
        color: $accent;

        .stat-value {
          margin-top: 0px;
          font-size: 70px;
          @include gradientText($text-bg);
          text-shadow: none;
          font-weight: bold;
          font-family: terminal-grotesque;
          line-height: 1;
        }
      }

      .weapon-slots {
        height: 100%;
        width: 390px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 30px;

        .weapon-slot {
          border: 4px solid rgba(#000, 0.4);
          border-bottom-color: rgba(#fff, 0.25);
          border-right-color: rgba(#fff, 0.25);
          width: 130px;
          height: 45px;
          margin-right: 3px;
          position: relative;
          padding: 1px 0;
          box-sizing: border-box;

          &.selected {
            border: 4px solid $accent;
          }

          &:nth-child(2n + 1) {
            margin-bottom: 3px;
          }

          .key {
            position: absolute;
            font-size: 18px;
            line-height: 10px;
            top: 2px;
            left: 2px;
            text-shadow: 1px 1px 0px #000;
          }

          img {
            display: block;
            width: auto;
            height: 100%;
            image-rendering: pixelated;
            margin: 0 auto;
          }
        }
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    
    transition: opacity 0.3s;

    &.isActive {
      opacity: 1;
    }
  }

  .damage-overlay {
    background: rgba(#f00, 0.5);
    transition-duration: 0.3s;
  }

  .bottom-ui {
    background: url('/assets/images/hud_rust_4.jpg');
    background-size: 30%;
    background-position: 0 70%;
  }

  .weapon-slot {
    background: url('/assets/images/hud_rust_4_darker.jpg');
    background-size: 300%;
    background-position: 0 45%;
  }

  .stat {
    background: url('/assets/images/hud_rust_4_darker.jpg');
    background-size: 300%;
    background-position: 0 45%;
  }
}